# Dataframe Generator

In [1]:
import pandas as pd
import sys
sys.path.append("../")
from Scripts.eda_Read_data import ReadData
from Scripts.exploration import Analysis
from Scripts.cleaning import CleanDataFrame
from Scripts.visualization import Plotters

In [2]:
analyzer = Analysis()
cleaner = CleanDataFrame()
plotter = Plotters(w=7, h=5)

In [3]:
loader = ReadData()
df = loader.read_csv('../data/AdSmartABdata.csv')

In [4]:
df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8077 entries, 0 to 8076
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   auction_id   8077 non-null   object
 1   experiment   8077 non-null   object
 2   date         8077 non-null   object
 3   hour         8077 non-null   int64
 4   device_make  8077 non-null   object
 5   platform_os  8077 non-null   int64
 6   browser      8077 non-null   object
 7   yes          8077 non-null   int64
 8   no           8077 non-null   int64
dtypes: int64(4), object(5)
memory usage: 568.0+ KB

In [6]:
df = cleaner.run_pipeline(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   experiment   1243 non-null   object
 1   hour         1243 non-null   int64
 2   device_make  1243 non-null   object
 3   platform_os  1243 non-null   int64
 4   browser      1243 non-null   object
 5   day_of_week  1243 non-null   object
 6   response     1243 non-null   int64
dtypes: int64(3), object(4)
memory usage: 68.1+ KB

In [8]:
df.head()

,experiment,hour,device_make,platform_os,browser,day_of_week,response
0,exposed,2,E5823,6,Chrome Mobile WebView,Sunday,0
1,exposed,16,Generic Smartphone,6,Chrome Mobile,Saturday,1
2,exposed,8,Generic Smartphone,6,Chrome Mobile,Monday,0
3,control,4,Samsung SM-A202F,6,Facebook,Wednesday,1
4,control,15,Generic Smartphone,6,Chrome Mobile,Friday,0

In [9]:
df.to_csv("../data/AdSmartABdata.csv")

After this I will start creating the different version of the dataset.
This versions will be based on the `browser` and `platform_os`

## browsers

In [11]:
df.groupby('browser').count()

,experiment,hour,device_make,platform_os,day_of_week,response
browser,,,,,,
Chrome,2,2,2,2,2,2
Chrome Mobile,695,695,695,695,695,695
Chrome Mobile WebView,227,227,227,227,227,227
Chrome Mobile iOS,1,1,1,1,1,1
Facebook,156,156,156,156,156,156
Mobile Safari,14,14,14,14,14,14
Mobile Safari UI/WKWebView,3,3,3,3,3,3
Samsung Internet,145,145,145,145,145,145

In [12]:
df.groupby('platform_os').count()

             experiment  hour  device_make  browser  day_of_week  response
platform_os
5                    17    17           17       17           17        17
6                  1226  1226         1226     1226         1226      1226

In [31]:
makes = df.device_make.unique()

In [36]:
known_brands = ['samsung', 'htc', 'nokia', 
                'moto', 'lg', 'oneplus', 
                'iphone', 'xiaomi', 'huawei',
                'pixel']
makers = ["generic"]*df.shape[0]
for idx, make in enumerate(df['device_make'].values):
    for brand in known_brands:
        if brand in make.lower():
            makers[idx] = "known brand"
            break
df['brand'] = makers
len(makers), df.shape[0]
from collections import Counter
Counter(makers)

Counter({'generic': 795, 'known brand': 448})

In [23]:
display(df.device_make.value_counts().to_dict())

{'Generic Smartphone': 719,
 'Samsung SM-G960F': 45,
 'Samsung SM-G950F': 35,
 'Samsung SM-G973F': 22,
 'Samsung SM-A202F': 18,
 'iPhone': 18,
 'Samsung SM-G930F': 16,
 'Samsung SM-G975F': 15,
 'Samsung SM-A405FN': 14,
 'Samsung SM-A105FN': 13,
 'Nokia undefined$2$3': 11,
 'LG-$2': 11,
 'Samsung SM-A505FN': 11,
 'Samsung SM-G935F': 11,
 'Samsung SM-G965F': 11,
 'Samsung SM-A705FN': 10,
 'Samsung SM-G970F': 10,
 'Samsung SM-J330FN': 10,
 'Nokia$2$3': 9,
 'Samsung SM-A320FL': 8,
 'POT-LX1': 8,
 'Samsung SM-A520F': 8,
 'Samsung SM-J530F': 7,
 'Samsung SM-J600FN': 6,
 'Samsung $2': 6,
 'ANE-LX1': 6,
 'MAR-LX1A': 6,
 'I3312': 6,
 'CLT-L09': 5,
 'Samsung SM-G900F': 5,
 'Samsung SM-G920F': 5,
 'Samsung SM-A300FU': 5,
 'Samsung SM-A530F': 5,
 'Samsung SM-N960F': 5,
 'Samsung SM-G986B': 4,
 'Pixel 3': 4,
 'VOG-L29': 4,
 'Samsung SM-G980F': 4,
 'Samsung SM-A600FN': 4,
 'Samsung SM-G955F': 4,
 'ELE-L09': 4,
 'Samsung SM-G981B': 4,
 'Moto $2': 4,
 'MRD-LX1': 4,
 'Samsung SM-G770F': 3,
 'LYA-L09': 3,
 'Samsung SM-N976B': 3,
 'Pixel 2': 3,
 'Samsung SM-N950F': 3,
 'Samsung SM-J320FN': 3,
 'Samsung SM-A310F': 2,
 'FIG-LX1': 2,
 'Samsung SM-G977B': 2,
 'Samsung SM-N970F': 2,
 'VTR-L09': 2,
 'Samsung SM-G988B': 2,
 'PRA-LX1': 2,
 'OnePlus ONEPLUS A6013': 2,
 'Pixel 3a': 2,
 'Samsung SM-A515F': 2,
 'Pixel 4': 2,
 'Samsung SM-J415FN': 2,
 'Huawei Browser': 2,
 'Samsung SM-J610FN': 2,
 'VOG-L09': 2,
 'G3311': 2,
 'Samsung SM-A715F': 2,
 'Samsung SM-A750FN': 2,
 'ELE-L29': 2,
 'Samsung SM-A920F': 2,
 'HTC One $2': 1,
 'DLI-L22': 1,
 'Samsung SM-J500FN': 1,
 'Samsung SM-N975F': 1,
 'Samsung SM-J610G': 1,
 'TA-1033': 1,
 'OnePlus ONEPLUS A5010': 1,
 'EML-L09': 1,
 'VCE-L22': 1,
 'VFD 720': 1,
 'Samsung SM-J810F': 1,
 'OnePlus ONEPLUS A3000': 1,
 'PCT-L29': 1,
 'XiaoMi MI 6': 1,
 'Samsung SM-A750GN': 1,
 'Samsung SM-G925F': 1,
 'Samsung SM-J330F': 1,
 'EVA-L09': 1,
 'X4_Soul_Infinity_Z': 1,
 'E5823': 1,
 'Samsung SM-J330G': 1,
 'F3311': 1,
 'XiaoMi MI MAX 3': 1,
 'OnePlus ONEPLUS A5000': 1,
 'STF-L09': 1,
 'HTC 10': 1,
 'XiaoMi Redmi Note 7': 1,
 'Samsung SM-J730F': 1,
 'HTC U12+': 1,
 'YAL-L21': 1,
 'Samsung SM-J510FN': 1,
 'XiaoMi Redmi 6A': 1,
 'SNE-LX1': 1,
 'Samsung SM-G965U1': 1,
 'VFD 700': 1,
 'Samsung SM-N920I': 1,
 'XiaoMi MI 8 Pro': 1,
 'Samsung SM-A507FN': 1,
 'HTC Desire $2': 1,
 'A0001': 1,
 'EVR-N29': 1,
 'Samsung SM-G610F': 1,
 'IMO $2': 1,
 'VFD 820': 1,
 'XiaoMi Redmi S2': 1}